services:
  db:
    image: postgres:13-alpine
    restart: always
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: dancesuite
    ports:
      - '5432:5432'
    volumes:
      - db_data:/var/lib/postgresql/data

  backend:
    build: ./backend
    ports:
      - '3000:3000'
    restart: always

  frontend:
    build: ./frontend
    ports:
      - '3001:3000' # Map host port 3001 to container port 3000
    depends_on:
      - db # frontend will now depend directly on db
    restart: always

volumes:
  db_data: